<h2>Уведомление об истечении SSL-сертификата</h2>
<p>Здравствуйте, <%= @user.full_name %>!</p>
<p>Срок действия SSL-сертификата для сайта <%= @website.address %> истекает скоро. Пожалуйста, обновите сертификат.</p>

