<h2>Предупреждение о недействительности сертификата</h2>
<p>Здравствуйте, <%= @user.full_name %>!</p>
<p>SSL-сертификат для сайта <%= @website.address %> недействителен. Пожалуйста, обновите сертификат.</p>
